doctype html
html(lang='en')
    head
        title  Nutri-Link
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.9/css/all.css')
        link(rel='stylesheet', href='/../css/main.css')     
        link(rel='shortcut icon', href='/../favicon.ico', type='image/x-icon')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    body
        div(class='container-fluid')
            hr
            div(class='row')
                div(class='col-sm-3')
                div(class='col-sm-6')
                    p   #[h3    Nutri - Link]
                div(class='col-sm-3 hidden-sm hidden-xs')
                    img(src='/../img/iconimg.png', height='100', class='iconimg hidden-sm hidden-xs')
                    
         
            if (reports===undefined || reports.length == 0)
                div(class='row')
                    div(class='col-sm-3')
                    div(class='col-sm-6 hidden-sm hidden-xs')
                        p   #[em Login with GenomeLink ...]

                    div(class='col-sm-2')
                        if authorize_url  
                             div(class='btn-group btn-group-justified')
                                a(class='btn btn-default btn-orange', href=authorize_url) #[i(class='fas fa-play fa-1x', aria-hidden='true')] Play
                    div(class='col-sm-1')
            else
                div(class='row')
                    div(class='col-sm-3')
                    div(class='col-sm-6')
                        div(class='panel-group' )        
                            div(class='panel panel-default') 
                                div(class='panel panel-heading')
                                    p #[i(class='fa fa-angle-double-right fa-2x col-sm-2', aria-hidden='true')]
                                        a(class='btn btn-basic btn-white')  #[b Nutrition Info guide] 
                                div(class='panel panel-body')
                                    ul
                                        li
                                            each v, k in reports
                                                div(class='row')
                                                    each val, key in {v}
                                                        div(class='btn-group col-sm-6') 
                                                            a(class='btn btn-basic') #{val.phenotype.display_name}
                                                        div(class='btn-group col-sm-3') 
                                                            if (val.summary.score==0)
                                                                a(class='btn btn-basic btn-white', href='/go?score='+val.summary.score+'&name='+val.phenotype.display_name.replace(/\s/g, '')) #[i(class='fab fa-studiovinari fa-2x', style='color:SeaGreen', aria-hidden='true')]
                                                            else if val.summary.score==1
                                                                a(class='btn btn-basic btn-white', href='/go?score='+val.summary.score+'&name='+val.phenotype.display_name.replace(/\s/g, '')) #[i(class='fas fa-quidditch fa-1x', style='color:green', aria-hidden='true')]
                                                            else if val.summary.score==2 
                                                                a(class='btn btn-basic btn-white', href='/go?score='+val.summary.score+'&name='+val.phenotype.display_name.replace(/\s/g, '')) #[i(class='fas fa-smile fa-1x', style='color:GoldenRod', aria-hidden='true')]
                                                            else if val.summary.score==3
                                                                a(class='btn btn-basic btn-white', href='/go?score='+val.summary.score+'&name='+val.phenotype.display_name.replace(/\s/g, '')) #[i(class='fab fa-pied-piper-alt fa-1x', style='color:orange ', aria-hidden='true')]
                                                            else if val.summary.score==4
                                                                a(class='btn btn-basic btn-white' , href='/go?score='+val.summary.score+'&name='+val.phenotype.display_name.replace(/\s/g, '')) #[i(class='fab fa-free-code-camp fa-1x', style='color:Maroon', aria-hidden='true')]
                                                           

                    div(class='col-sm-3')

                    