doctype html
html(lang='en')
    head
        title  Nutri-Link
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        meta(name='apple-mobile-web-app-title',content='Weather PWA')
        meta(name='msapplication-TileImage', content='/../img/ms-icon-144x144.png')
        meta(name='msapplication-TileColor', content='#2F3BA2')
        link(rel='apple-touch-icon', href='/../img/apple-icon-152x152.png')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.9/css/all.css')
        link(rel='stylesheet', href='/../css/main.css') 
        link(rel='manifest', href='/../manifest.json') 
        link(rel='shortcut icon', href='/../favicon.ico', type='image/x-icon')
        script(src='/../js/client.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    body
        div(class='container-fluid')
            hr
            div(class='row')
                div(class='col-sm-3')
                div(class='col-sm-6')
                    p #[h3    Nutri - Link]
                div(class='col-sm-3 hidden-sm hidden-xs')
                    img(src='/../img/iconimg.png', height='100', class='iconimg hidden-sm hidden-xs')                   
        
            div(class='row')
                div(class='col-sm-3')
                div(class='col-sm-6')
                    p #[em Login with GenomeLink ...]
                div(class='col-sm-2')
                    if authorize_url  
                        div(class='btn-group btn-group-justified')
                            a(class='btn btn-default btn-orange', href=authorize_url) #[i(class='fas fa-play fa-1x', aria-hidden='true')] Play
                div(class='col-sm-1')