doctype html
html(lang='en')
    head
        title  #{name}
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        meta(name='apple-mobile-web-app-title',content='Weather PWA')
        meta(name='msapplication-TileImage', content='/../img/ms-icon-144x144.png')
        meta(name='msapplication-TileColor', content='#2F3BA2')
        link(rel='apple-touch-icon', href='/../img/apple-icon-152x152.png')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.9/css/all.css')
        link(rel='stylesheet', href='/../css/main.css') 
        link(rel='manifest', href='/../manifest.json') 
        link(rel='shortcut icon', href='/../favicon.ico', type='image/x-icon')
        script(src='/../js/client.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    body
        div(class='container-fluid')
            div(class='row')
                div(class='col-sm-3')
                    a(class='btn btn-basic btn-white',href='/summary') #[i(class='fas fa-home fa-1x', style='color:Green', aria-hidden='true')]
                div(class='col-sm-1')
                    if score==0
                        a(class='btn btn-basic btn-white') #[i(class='fab fa-studiovinari fa-3x', style='color:SeaGreen', aria-hidden='true')]
                    else if score==1
                        a(class='btn btn-basic btn-white') #[i(class='fas fa-quidditch fa-3x', style='color:green', aria-hidden='true')]
                    else if score==2 
                        a(class='btn btn-basic btn-white') #[i(class='fas fa-smile fa-3x', style='color:GoldenRod', aria-hidden='true')]
                    else if score==3
                        a(class='btn btn-basic btn-white') #[i(class='fab fa-pied-piper-alt fa-3x', style='color:orange ', aria-hidden='true')]
                    else if score==4
                        a(class='btn btn-basic btn-white') #[i(class='fab fa-free-code-camp fa-3x', style='color:Maroon', aria-hidden='true')]
                div(class='col-sm-2')
                    p   #[h1   #{name}]                
                div(class='col-sm-6')

            div(class='row')
                div(class='col-sm-3')
                div(class='col-sm-1 ')
                    div(class='progress')
                        div(class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow={score}  aria-valuemin="0" aria-valuemax="4" style="width:"+score*25+"%")
                            p #{score}                   
                div(class='col-sm-2')
                    unless name == 'Motionsickness'
                        if score==0
                            p #[em Superman, Sure you are.. with more of these in your diet]
                        else if score==1
                            p #[em Quidditch!!! Checkout your wizard diet]
                        else if score==2 
                            p #[em The Smiley :) Glance at the card and spread your Gluckes]
                        else if score==3
                            p #[em Pied piper, keep off these occassionally]
                        else if score==4
                            p #[em Fire - literally you could be when you skip these for while ]
                    else
                        if score==0
                            p #[em Superman, Sure you are.. when you skip these for while]
                        else if score==1
                            p #[em Quidditch!!! keep off these occassionally]
                        else if score==2 
                            p #[em The Smiley :) Glance at the card and spread your Gluckes]
                        else if score==3
                            p #[em Pied piper, like your assuming tone ,let these cards assume you]
                        else if score==4
                            p #[em Fire - literally you could be with more of these in your diet ]
                div(class='col-sm-6')
            div(class='row')
                    div(class='col-md-3')
                    div(class='col-md-6')
                        div(class='panel-group' )        
                            div(class='panel panel-default panel-resizable') 
                                div(class='panel panel-heading')
                                    p #[i(class='fab fa-earlybirds fa-2x col-xs-2', aria-hidden='true')]
                                        a(class='btn btn-basic btn-white')  #[b Diet ] 
                                div(class='panel panel-body')        
                                    ul
                                        li
                                            each v in item
                                                div(class='btn-group')
                                                    each val, k in v
                                                        div
                                                            a(class='btn btn-basic', href='/nutrient?num='+val.NDB_No) #[i(class='fas fa-utensils fa-1x', style='color:Maroon', aria-hidden='true')] #{val.Description}  
                                                    

