doctype html
html(lang='en')
    head
        title  Nutri-Link
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        meta(name='apple-mobile-web-app-title',content='Weather PWA')
        meta(name='msapplication-TileImage', content='/../img/ms-icon-144x144.png')
        meta(name='msapplication-TileColor', content='#2F3BA2')
        link(rel='apple-touch-icon', href='/../img/apple-icon-152x152.png')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.9/css/all.css')
        link(rel='stylesheet', href='/../css/main.css') 
        link(rel='manifest', href='/../manifest.json') 
        link(rel='shortcut icon', href='/../favicon.ico', type='image/x-icon')
        script(src='/../js/client.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    body
        div(class='container-fluid')
            hr
            div(class='row')
                div(class='col-sm-3')
                div(class='col-sm-6')
                    p   #[h3    Nutri - Link]
                div(class='col-sm-3 hidden-sm hidden-xs')
                    img(src='/../img/iconimg.png', height='100', class='iconimg hidden-sm hidden-xs')
                    
            div(class='row')
                div(class='col-sm-3')
                div(class='col-sm-6')
                    div(class='panel-group' )        
                        div(class='panel panel-default panel-resizable') 
                            div(class='panel panel-heading')
                                p #[i(class='fa fa-angle-double-right fa-2x col-sm-2', aria-hidden='true')]
                                    a(class='btn btn-basic btn-white')  #[b Nutrition Info guide] 
                            div(class='panel panel-body')
                                ul
                                    li
                                        each v, k in reports
                                            div(class='row')
                                                each val, key in {v}
                                                    div(class='btn-group col-xs-6') 
                                                        a(class='btn btn-basic') #{val.phenotype.display_name}
                                                    div(class='btn-group col-xs-3') 
                                                        if (val.summary.score==0)
                                                            a(class='btn btn-basic btn-white', href='/go?score='+val.summary.score+'&name='+val.phenotype.display_name.replace(/\s/g, '')) #[i(class='fab fa-studiovinari fa-2x', style='color:SeaGreen', aria-hidden='true')]
                                                        else if val.summary.score==1
                                                            a(class='btn btn-basic btn-white', href='/go?score='+val.summary.score+'&name='+val.phenotype.display_name.replace(/\s/g, '')) #[i(class='fas fa-quidditch fa-1x', style='color:green', aria-hidden='true')]
                                                        else if val.summary.score==2 
                                                            a(class='btn btn-basic btn-white', href='/go?score='+val.summary.score+'&name='+val.phenotype.display_name.replace(/\s/g, '')) #[i(class='fas fa-smile fa-1x', style='color:GoldenRod', aria-hidden='true')]
                                                        else if val.summary.score==3
                                                            a(class='btn btn-basic btn-white', href='/go?score='+val.summary.score+'&name='+val.phenotype.display_name.replace(/\s/g, '')) #[i(class='fab fa-pied-piper-alt fa-1x', style='color:orange ', aria-hidden='true')]
                                                        else if val.summary.score==4
                                                            a(class='btn btn-basic btn-white' , href='/go?score='+val.summary.score+'&name='+val.phenotype.display_name.replace(/\s/g, '')) #[i(class='fab fa-free-code-camp fa-1x', style='color:Maroon', aria-hidden='true')]


                div(class='col-sm-3')
